body {

  margin: 0;
  text-align: center;
  font-family: 'Handlee', cursive;
}

p{
  font-size: 30px;
}


h1 {
  font-size: 5.625rem; /* not relative to the parent*/
  /* font-size: 5.625em;  */ /*relative to the parent*/
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 3;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  color: #11999E;

}

.project-button{
  color: red;
}

.top-container {
  background-color: #F7ECDE;

  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.profile{
  width: 60%;
  margin: 10px auto 10px auto;
}
.skill-row{
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 1.5;
}
.computer-image{
  width: 25%;
}
.quiz-image{
  width: 25%;
}
.graph-image{
  width: 25%;
}
