body {
  background-color: #F0FFC2;

  margin: 0;
  text-align: center;
  font-family: 'Handlee', cursive;
}

p{
  font-size: 30px;
}


h1 {
  font-size: 5.625rem; /* not relative to the parent*/
  /* font-size: 5.625em;  */ /*relative to the parent*/
  margin-top: 50px;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;

}

.project-button{
  color: red;
}

.top-container {
  position: relative;
  padding-top: 100px;
}


.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
